<h1>Here is the listing!</h1>

<%= @listing.title  %><br>
<%= @listing.text %><br>
<%= @listing.location %><br>
<%= @listing.price %><br>
<%= @listing.created_at %><br>
<%= @listing.updated_at %><br>
