<h1>Here is the listing!</h1>

<%= @post.title %><br>
<%= @post.text %><br>
<%= @post.location %><br>
<%= @post.price %><br>
<%= @post.created_at %><br>
<%= @post.updated_at %><br>

<a href="/post/<%= @post.id %>/edit">Edit this post</a>
